html {
  font-size: 10px; }

body {
  font-family: Bitter, serif; }

h1, h2, h3 {
  font-family: "Fugaz One", sans-serif; }

a, button {
  font-family: "Montserrat", serif; }

h1 {
  font-size: 3.8rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2rem; }

a, p {
  font-size: 1.7rem; }

p {
  line-height: 1.3; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px; }

.row {
  overflow: hidden; }

.col-1 {
  float: left;
  width: 8.33333333%; }

.col-2 {
  float: left;
  width: 16.66666666%; }

.col-3 {
  float: left;
  width: 25%; }

.col-4 {
  float: left;
  width: 33.33333333%; }

.col-5 {
  float: left;
  width: 41.66666666%; }

.col-6 {
  float: left;
  width: 50%; }

.col-7 {
  float: left;
  width: 58.33333333%; }

.col-8 {
  float: left;
  width: 66.66666666%; }

.col-9 {
  float: left;
  width: 75%; }

.col-10 {
  float: left;
  width: 83.33333333%; }

.col-11 {
  float: left;
  width: 91.66666666%; }

.col-12 {
  float: left;
  width: 100%; }

button, btn-main {
  border: none;
  background: #090909;
  color: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  padding: 8px 12px;
  text-transform: uppercase; }
  button:focus, btn-main:focus {
    outline: none; }

.btn-secondary {
  border: none;
  background: #090909;
  color: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  padding: 8px 12px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #090909;
  color: #090909;
  font-size: 1.8rem;
  transition: .4s all;
  margin: 10px 15px; }
  .btn-secondary:focus {
    outline: none; }
  .btn-secondary:hover {
    background: #090909;
    color: #f6f6f6;
    transition: .4s all; }

.center {
  text-align: center; }

html {
  font-size: 10px; }

body {
  font-family: Bitter, serif; }

h1, h2, h3 {
  font-family: "Fugaz One", sans-serif; }

a, button {
  font-family: "Montserrat", serif; }

h1 {
  font-size: 3.8rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2rem; }

a, p {
  font-size: 1.7rem; }

p {
  line-height: 1.3; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px; }

.row {
  overflow: hidden; }

.col-1 {
  float: left;
  width: 8.33333333%; }

.col-2 {
  float: left;
  width: 16.66666666%; }

.col-3 {
  float: left;
  width: 25%; }

.col-4 {
  float: left;
  width: 33.33333333%; }

.col-5 {
  float: left;
  width: 41.66666666%; }

.col-6 {
  float: left;
  width: 50%; }

.col-7 {
  float: left;
  width: 58.33333333%; }

.col-8 {
  float: left;
  width: 66.66666666%; }

.col-9 {
  float: left;
  width: 75%; }

.col-10 {
  float: left;
  width: 83.33333333%; }

.col-11 {
  float: left;
  width: 91.66666666%; }

.col-12 {
  float: left;
  width: 100%; }

button, btn-main {
  border: none;
  background: #090909;
  color: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  padding: 8px 12px;
  text-transform: uppercase; }
  button:focus, btn-main:focus {
    outline: none; }

.btn-secondary {
  border: none;
  background: #090909;
  color: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  padding: 8px 12px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #090909;
  color: #090909;
  font-size: 1.8rem;
  transition: .4s all;
  margin: 10px 15px; }
  .btn-secondary:focus {
    outline: none; }
  .btn-secondary:hover {
    background: #090909;
    color: #f6f6f6;
    transition: .4s all; }

.center {
  text-align: center; }

html, body {
  background: #ECEBE8; }

.left {
  float: left; }

.right {
  float: right; }

ul {
  margin: 0;
  padding: 0; }

.header {
  max-width: 100%; }

header {
  background: url(../../images/dog.jpg) center -20px/cover no-repeat; }
  header nav {
    width: 1;
    background: rgba(9, 9, 9, 0.9);
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
    header nav img {
      display: inline-block;
      margin: 0 20px;
      width: 100px;
      background: #f6f6f6;
      padding: 5px 5px;
      border-radius: 8px 15px 8px 15px; }
  header ul {
    padding: 20px;
    float: right; }
    header ul li {
      display: inline-block;
      padding: 0 8px; }
      header ul li a {
        color: #f6f6f6;
        text-transform: uppercase; }
  header .hero {
    padding: 400px 0; }

.brotherhood {
  margin: -20px 0;
  background-image: url(../../images/desert-use.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }
  .brotherhood img {
    margin: 0 0 18px 0;
    display: inline-block; }

.intro {
  background: #E9D86A;
  padding: 50px 0; }
  .intro img {
    padding-right: 100px; }

.game-intro {
  background: url(../../images/brotherhood.jpg) center -20px/cover no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  padding: 200px 0; }
  .game-intro h1 {
    color: #f6f6f6;
    font-size: 6rem;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .game-intro p {
    color: #FFC900;
    width: 50%;
    margin: 10px auto; }
  .game-intro a {
    border: none;
    background: #090909;
    color: #f6f6f6;
    cursor: pointer;
    display: inline-block;
    font-size: 1.8rem;
    padding: 8px 12px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #FFC900;
    color: #FFC900;
    font-size: 1.8rem;
    transition: .4s all; }
    .game-intro a:focus {
      outline: none; }
    .game-intro a:hover {
      background: #FFC900;
      color: #f6f6f6;
      transition: .4s all; }
