img {
  max-width: 100%; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px; }

.row {
  overflow: hidden; }

.col-1 {
  float: left;
  width: 8.33333333%; }

.col-2 {
  float: left;
  width: 16.66666666%; }

.col-3 {
  float: left;
  width: 25%; }

.col-4 {
  float: left;
  width: 33.33333333%; }

.col-5 {
  float: left;
  width: 41.66666666%; }

.col-6 {
  float: left;
  width: 50%; }

.col-7 {
  float: left;
  width: 58.33333333%; }

.col-8 {
  float: left;
  width: 66.66666666%; }

.col-9 {
  float: left;
  width: 75%; }

.col-10 {
  float: left;
  width: 83.33333333%; }

.col-11 {
  float: left;
  width: 91.66666666%; }

.col-12 {
  float: left;
  width: 100%; }

html {
  font-size: 10px; }

body {
  font-family: Bitter, serif; }

h1, h2, h3 {
  font-family: "Fugaz One", sans-serif; }

a, button {
  font-family: "Montserrat", serif; }

h1 {
  font-size: 3.8rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2rem; }

a, p {
  font-size: 1.7rem; }

p {
  line-height: 1.3; }

a {
  text-decoration: none; }

button {
  border: none;
  background: #090909;
  color: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  overflow: hidden;
  padding: 8px 12px;
  text-transform: uppercase; }
  button:focus {
    outline: none; }

button:hover span {
  display: inline-block;
  animation: .6s slide; }

.btn-secondary {
  border: none;
  background: #090909;
  color: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  overflow: hidden;
  padding: 8px 12px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #090909;
  color: #090909;
  font-size: 1.8rem;
  transition: .4s all;
  margin: 10px 15px; }
  .btn-secondary:focus {
    outline: none; }
  .btn-secondary:hover {
    background: #090909;
    color: #f6f6f6;
    transition: .4s all; }

.center {
  text-align: center; }

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 201, 0, 0.2);
  font-family: "Montserrat", serif;
  font-size: 1.6rem;
  color: #e5b400; }
  input:focus {
    outline: none; }

@keyframes slide {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-50px); }
  51% {
    transform: translateY(50px); }
  100% {
    transform: translateY(0); } }

html {
  font-size: 10px; }

body {
  font-family: Bitter, serif; }

h1, h2, h3 {
  font-family: "Fugaz One", sans-serif; }

a, button {
  font-family: "Montserrat", serif; }

h1 {
  font-size: 3.8rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2rem; }

a, p {
  font-size: 1.7rem; }

p {
  line-height: 1.3; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px; }

.row {
  overflow: hidden; }

.col-1 {
  float: left;
  width: 8.33333333%; }

.col-2 {
  float: left;
  width: 16.66666666%; }

.col-3 {
  float: left;
  width: 25%; }

.col-4 {
  float: left;
  width: 33.33333333%; }

.col-5 {
  float: left;
  width: 41.66666666%; }

.col-6 {
  float: left;
  width: 50%; }

.col-7 {
  float: left;
  width: 58.33333333%; }

.col-8 {
  float: left;
  width: 66.66666666%; }

.col-9 {
  float: left;
  width: 75%; }

.col-10 {
  float: left;
  width: 83.33333333%; }

.col-11 {
  float: left;
  width: 91.66666666%; }

.col-12 {
  float: left;
  width: 100%; }

button {
  border: none;
  background: #090909;
  color: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  overflow: hidden;
  padding: 8px 12px;
  text-transform: uppercase; }
  button:focus {
    outline: none; }

button:hover span {
  display: inline-block;
  animation: .6s slide; }

.btn-secondary {
  border: none;
  background: #090909;
  color: #f6f6f6;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  overflow: hidden;
  padding: 8px 12px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #090909;
  color: #090909;
  font-size: 1.8rem;
  transition: .4s all;
  margin: 10px 15px; }
  .btn-secondary:focus {
    outline: none; }
  .btn-secondary:hover {
    background: #090909;
    color: #f6f6f6;
    transition: .4s all; }

.center {
  text-align: center; }

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 201, 0, 0.2);
  font-family: "Montserrat", serif;
  font-size: 1.6rem;
  color: #e5b400; }
  input:focus {
    outline: none; }

@keyframes slide {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-50px); }
  51% {
    transform: translateY(50px); }
  100% {
    transform: translateY(0); } }

html, body {
  background: #ECEBE8; }

.left {
  float: left; }

.right {
  float: right; }

ul {
  margin: 0;
  padding: 0; }

.header {
  max-width: 100%; }

header {
  background: url(../../images/dog.jpg) center -20px/cover no-repeat; }
  header nav {
    width: 1;
    background: rgba(9, 9, 9, 0.9);
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
    header nav img {
      display: inline-block;
      margin: 0 20px;
      width: 100px;
      background: #f6f6f6;
      padding: 5px 5px;
      border-radius: 8px 15px 8px 15px; }
  header ul {
    padding: 20px;
    float: right; }
    header ul li {
      display: inline-block;
      padding: 0 8px; }
      header ul li a {
        color: #f6f6f6;
        text-transform: uppercase;
        transition: .3s color linear; }
        header ul li a:hover {
          color: #FFC900; }
  header .hero {
    padding: 400px 0; }

.brotherhood {
  margin: -20px 0;
  background-image: url(../../images/desert-use.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }
  .brotherhood img {
    margin: 0 0 18px 0;
    display: inline-block; }

.intro {
  background: #E9D86A;
  padding: 50px 0; }
  .intro img {
    padding-right: 100px; }

.game-intro {
  background: url(../../images/brotherhood.jpg) center -20px/cover no-repeat;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  padding: 200px 0; }
  .game-intro h1 {
    color: #f6f6f6;
    font-size: 6rem;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .game-intro p {
    color: #FFC900;
    width: 50%;
    margin: 10px auto; }
  .game-intro a {
    border: none;
    background: #090909;
    color: #f6f6f6;
    cursor: pointer;
    display: inline-block;
    font-size: 1.8rem;
    overflow: hidden;
    padding: 8px 12px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #FFC900;
    color: #FFC900;
    font-size: 1.8rem;
    transition: .4s all; }
    .game-intro a:focus {
      outline: none; }
    .game-intro a:hover {
      background: #FFC900;
      color: #f6f6f6;
      transition: .4s all; }

.benefits {
  padding: 100px 0; }
  .benefits img[src$="boy.png"] + h3 {
    padding-top: 80px; }

.register {
  color: #E9D86A;
  padding: 170px;
  background: url(../../images/plane.jpg) center -20px/cover no-repeat fixed; }
  .register form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .register form input {
      margin: 5px 0; }
    .register form button {
      margin-top: 26px;
      background-color: rgba(158, 125, 0, 0.5);
      border-radius: 5px;
      font-size: 1.5rem; }

.advertisement {
  background: url(../../images/standby.jpg) center 100px/cover no-repeat fixed;
  padding: 200px; }
  .advertisement video {
    float: left;
    width: 95%;
    border: 5px solid #FFC900; }
  .advertisement .vault-info {
    text-align: center;
    float: right;
    color: #090909;
    text-shadow: 2px 4px 0 #FFC900; }
    .advertisement .vault-info h1:after {
      content: "";
      display: block;
      width: 6rem;
      height: 0.2rem;
      background: #E9D86A;
      margin: 5px auto; }
    .advertisement .vault-info h2 {
      text-shadow: 1px 1px 0 #FFC900; }
    .advertisement .vault-info img {
      width: 25%; }

footer {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #090909;
  color: #E9D86A; }
  footer .social-media {
    font-size: 3rem; }
    footer .social-media i {
      cursor: pointer;
      padding-right: 10px; }

.copyright {
  text-transform: uppercase; }
  .copyright p:first-child {
    font-size: .8em; }

@media all and (max-width: 690px) {
  header {
    text-align: center; }
    header nav {
      position: relative; }
    header ul {
      float: none; }
      header ul li {
        display: block;
        padding: 10px 0; }
  .benefits img {
    display: none; }
  .benefits img[src$="boy.png"] + h3 {
    padding: 0; }
  .register h1, .register h2 {
    font-size: 2rem; }
  .advertisement {
    padding: 100px 0; }
    .advertisement .col-6 {
      width: 100%; }
    .advertisement .video-hidden {
      display: none; }
    .advertisement img {
      display: none; }
    .advertisement .vault-info {
      float: none; } }
