html {
  font-size: 10px; }

body {
  font-family: Bitter, serif; }

h1, h2, h3 {
  font-family: "Fugaz One", sans-serif; }

a, button {
  font-family: "Montserrat", serif; }

h1 {
  font-size: 3.8rem; }

h2 {
  font-size: 2.8rem; }

h3 {
  font-size: 2rem; }
