@import 'variables'
@import 'typography'
@import 'grid'
@import 'elements'


html,body
	background: $grey-300


.left
	float: left
.right
	float: right



ul 
	margin: 0
	padding: 0
.header
	max-width: 100%

header
	background: url(../../images/dog.jpg) center -20px  / cover no-repeat
	

	nav
		width: 1
		background: transparentize($black-500,.1)
		padding: 20px 0
		position: fixed
		top: 0
		left: 0
		right: 0 
		img
			display: inline-block
			margin: 0 20px
			width: 100px
			background: $white-500
			padding: 5px 5px
			border-radius: 8px 15px 8px 15px
	ul
		padding: 20px
		float: right

		li
			display: inline-block
			padding: 0 8px
			a
				color: $white-500
				text-transform: uppercase
	.hero
		padding: 400px 0



.brotherhood
	margin: -20px 0
	background-image: url(../../images/desert-use.jpg) 
	background-size: cover
	background-repeat: no-repeat
	background-position: center center
	background-attachment: fixed
	img
		margin: 0 0 18px 0
		display: inline-block

.intro
	background: $yellow-300
	padding: 50px 0
	img
		padding-right: 100px
	
.game-intro
	background: url(../../images/brotherhood.jpg) center -20px  / cover no-repeat
	background-attachment: fixed
	box-shadow: (inset 0 0 0 1000px rgba(0,0,0,.5))

	padding: 200px 0
	h1
		color: $white-500
		font-size: 6rem
		letter-spacing: 2px
		text-transform: uppercase
	p
		color: $yellow-500
		width: 50%
		margin: 10px auto
	a
		@include btn-secondary($size-small,$yellow-500)

.benefits
	padding: 100px 0
	img[src$="boy.png"] + h3
		padding-top: 80px
	a
		@include btn-secondary($size-small,$black-500)
		text-align: center
